#.github/workflows/backend-ci.yml

name: Backend CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build .

      - name: Run container (sanity check)
        run: |
          docker run -d -p 8000:8000 \
            -e FIREBASE_SERVICE_ACCOUNT=/dev/null \
            greenplate-backend
